@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins";
  overflow-x: hidden;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

section {
  margin-bottom: 5rem;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.p-1 {
  margin: 1rem;
}

.py-1 {
  margin: 1rem 0;
}

.px-1 {
  margin: 0 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.mx-2 {
  margin: 0 2rem;
}

.p-2 {
  margin: 2rem;
}

.py-2 {
  margin: 2rem 0;
}

.px-2 {
  margin: 0 2rem;
}

.m-3 {
  margin: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.mx-3 {
  margin: 0 3rem;
}

.p-3 {
  margin: 3rem;
}

.py-3 {
  margin: 3rem 0;
}

.px-3 {
  margin: 0 3rem;
}

.m-4 {
  margin: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.mx-4 {
  margin: 0 4rem;
}

.p-4 {
  margin: 4rem;
}

.py-4 {
  margin: 4rem 0;
}

.px-4 {
  margin: 0 4rem;
}

.m-5 {
  margin: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.mx-5 {
  margin: 0 5rem;
}

.p-5 {
  margin: 5rem;
}

.py-5 {
  margin: 5rem 0;
}

.px-5 {
  margin: 0 5rem;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 3px;
  color: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #429af1;
}

.btn-secondary {
  background-color: #1ac888;
}

.showModal {
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

#signupmodal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}
#signupmodal .loaderContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#signupmodal .loaderContainer .loadingGif {
  width: 20%;
}
#signupmodal .error {
  width: 30%;
  background-color: #fff;
  color: rgb(26, 26, 26);
  padding: 10px 25px;
  margin-bottom: 10px;
  text-align: center;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
#signupmodal .error i {
  font-size: 20px;
}
#signupmodal .verifyEmailModal {
  width: 30%;
  background-color: #fff;
  color: rgb(26, 26, 26);
  padding: 25px;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  gap: 20px;
}
#signupmodal .verifyEmailModal i {
  font-size: 32px;
  color: #1ac888;
}
#signupmodal .verifyEmailModal button {
  all: unset;
  background-color: #d32752;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
#signupmodal form {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  position: relative;
}
#signupmodal form .signInText span,
#signupmodal form .signUpText span {
  font-weight: bold;
  color: #1ac888;
  cursor: pointer;
}
#signupmodal form i {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 22px;
  cursor: pointer;
}
#signupmodal form i:hover {
  color: #d32752;
}
#signupmodal form .names {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
#signupmodal form .names input {
  border: 1px solid rgb(214, 214, 214);
  padding: 10px;
  border-radius: 5px;
  width: 220px;
  font-family: "Poppins", sans-serif;
  outline: none;
}
#signupmodal form .email {
  border: 1px solid rgb(214, 214, 214);
  padding: 10px;
  width: 460px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  outline: none;
}
#signupmodal form .signup {
  font-family: "Poppins", sans-serif;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #1ac888;
  cursor: pointer;
}
#signupmodal form .pass {
  margin-top: 20px;
}
#signupmodal .singInForm {
  display: none;
}

.hero {
  background: linear-gradient(#003791, #045DE9);
  color: #fff;
  -webkit-clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 0);
          clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 0);
  height: 650px;
  margin-bottom: 4rem;
}
.hero nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  padding: 30px 0;
}
.hero nav button {
  all: unset;
  font-family: "Poppins", sans-serif;
  padding: 3px 12px;
  border: 2px solid #1ac888;
  border-radius: 5px;
}
.hero nav .toggler {
  display: none;
}
.hero nav .toggler span {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
}
.hero ul {
  display: flex;
  align-items: center;
  gap: 18px;
}
.hero li a {
  color: #fff;
}
.hero li a:hover {
  color: #1ac888;
}
.hero-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.hero-content img {
  width: 50%;
  -webkit-animation: 16s linear 0s moveY infinite;
          animation: 16s linear 0s moveY infinite;
}
.hero-content h1 {
  font-size: 50px;
}

@-webkit-keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}
.showNav {
  max-height: 100vh !important;
}

@-webkit-keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
#timeSection {
  background-color: #f1f1f1;
  padding: 5rem 0;
}
#timeSection h1 {
  text-align: center;
  color: #1380ED;
  font-size: 2em;
  text-transform: uppercase;
}
#timeSection .timeSectionParagraph {
  font-size: 20px;
  width: 50%;
  margin: 0 auto 4rem;
  text-align: center;
}

.step-timeline {
  position: relative;
  max-width: 900px;
  margin: 10px auto;
  z-index: 1;
}
.step-timeline .step-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  -webkit-animation: movedown 1s linear forwards;
          animation: movedown 1s linear forwards;
  opacity: 0;
}
.step-timeline .step-container:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.step-timeline .step-container:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.step-timeline .step-container:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.step-timeline .step-container:nth-child(4) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.step-timeline .step-container .number {
  color: #000;
  position: absolute;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  top: 30px;
  right: -20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1380ED;
  font-size: 20px;
}
.step-timeline .step-container .number i {
  color: #fff;
}
.step-timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: #80B1FF;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  -webkit-animation: moveline 6s linear forwards;
          animation: moveline 6s linear forwards;
}
.step-timeline .text-box {
  padding: 20px 30px;
  background-color: #1380ED;
  position: relative;
  border-radius: 7px;
  color: #fff;
}
.step-timeline .left-container {
  left: 0;
}
.step-timeline .right-container {
  left: 50%;
}
.step-timeline .right-container .number {
  left: -20px;
}
.step-timeline .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #1380ED;
  left: -15px;
}
.step-timeline .left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #1380ED;
  right: -15px;
}

#features h1 {
  text-align: center;
  color: #1380ED;
  font-size: 2em;
  text-transform: uppercase;
}
#features .featuresParagraph {
  font-size: 20px;
  width: 50%;
  margin: 0 auto 4rem;
  text-align: center;
}
#features .featuresContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px 5rem;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
}
#features .featuresContainer p {
  color: #616161;
}
#features .featuresContainer .feature {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
#features .featuresContainer .feature h3 {
  font-size: 20px;
  color: #00274e;
}
#features .featuresContainer .feature i {
  font-size: 1.8rem;
  color: #1380ED;
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #1ac888;
}

#courses h1 {
  text-align: center;
  color: #1380ED;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#courses .topInfo {
  text-align: center;
}
#courses .topInfo p {
  font-size: 20px;
  width: 50%;
  margin: 0 auto 4rem;
  text-align: center;
}
#courses .courseCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#courses .courseCards p, #courses .courseCards li {
  color: #616161;
}
#courses .courseCards li {
  font-size: 14px;
}
#courses .courseCards li i {
  color: #1ac888;
}
#courses .courseCards .course {
  margin: 2rem;
  box-shadow: 3px 3px 5px #eee;
}
#courses .courseCards .course img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
#courses .courseCards .course .courseInfo {
  padding: 10px 10px;
}
#courses .courseCards .course .courseInfo .courseFormat {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0;
  border-bottom: 1px solid #cacaca;
  padding-bottom: 10px;
}
#courses .courseCards .course .courseInfo .courseFormat p {
  font-size: 14px;
  background-color: red;
  padding: 2px 7px;
  border-radius: 4px;
  color: #fff;
}
#courses .courseCards .course .courseInfo .courseFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#courses .courseCards .course .courseInfo .courseFooter div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#counter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/images.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
#counter .numanddesc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#counter .numanddesc div {
  display: flex;
  align-items: center;
  gap: 5px;
}
#counter .numanddesc div span {
  font-size: 22px;
}
#counter .numanddesc div h3 {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1380ED;
  color: #fff;
  padding: 50px 50px 30px;
}
footer .contactContainer, footer .linksContainer {
  text-align: center;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #1ac888;
}
footer .links {
  display: flex;
  gap: 15px;
}
footer .contacts a {
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .contacts a div {
  display: flex;
  align-items: center;
  gap: 3px;
}

@media screen and (max-width: 1200px) {
  #features .featuresContainer {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .hero-content h1 {
    font-size: 30px;
  }
  #courses .topInfo p {
    font-size: 18px;
    width: 70%;
  }
  #timeSection .timeSectionParagraph {
    font-size: 18px;
    width: 70%;
  }
  #features .featuresContainer {
    padding: 10px 0.5rem;
    width: 90%;
  }
  #features .featuresContainer .feature {
    width: 90%;
  }
  #features .featuresParagraph {
    font-size: 18px;
    width: 70%;
  }
  #counter {
    padding: 50px 25px;
  }
  footer {
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  footer .links {
    gap: 7px;
  }
  #signupmodal .verifyEmailModal,
#signupmodal .error {
    width: 50%;
  }
  #signupmodal .loaderContainer .loadingGif {
    width: 40%;
  }
}
@media screen and (max-width: 700px) {
  .hero {
    height: 800px;
    -webkit-clip-path: polygon(100% 0, 100% 97%, 48% 100%, 0 97%, 0 0);
            clip-path: polygon(100% 0, 100% 97%, 48% 100%, 0 97%, 0 0);
  }
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content img {
    width: 80%;
    margin-bottom: 2rem;
  }
  .hero .container {
    padding: 0 10px;
  }
  .step-timeline {
    margin: 50px auto;
  }
  .step-timeline .right-container {
    left: 0;
  }
  .step-timeline .left-container .number,
.step-timeline .right-container .number {
    left: 10px;
  }
  .step-timeline::after {
    left: 85px;
  }
  .step-timeline .step-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 25px 10px 80px;
  }
  .step-timeline .left-container-arrow,
.step-timeline .right-container-arrow {
    border-right: 15px solid #1380ED;
    border-left: 0;
    left: -15px;
  }
  #courses .topInfo p {
    font-size: 16px;
    width: 90%;
  }
  #timeSection .timeSectionParagraph {
    font-size: 16px;
    width: 90%;
  }
  #features .featuresContainer {
    grid-template-columns: 1fr;
  }
  #features .featuresContainer .feature {
    width: 100%;
  }
  #features .featuresParagraph {
    font-size: 16px;
    width: 90%;
  }
  #counter {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    padding: 50px 20px;
  }
  #signupmodal .loaderContainer .loadingGif {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .hero nav {
    position: relative;
    padding: 30px;
    width: 100%;
  }
  .hero nav button {
    color: #1ac888;
  }
  .hero nav .toggler {
    display: block;
    cursor: pointer;
  }
  .hero ul {
    position: absolute;
    background-color: #fff;
    top: 85%;
    text-align: center;
    width: 86%;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: 0.5s ease-in-out;
  }
  .hero ul li {
    margin: 5px 0;
  }
  .hero ul li:first-child {
    padding-top: 16px;
  }
  .hero ul li:last-child {
    padding-bottom: 16px;
  }
  .hero ul a {
    color: #000;
  }
  #signupmodal form {
    width: 85%;
  }
  #signupmodal form .names input {
    width: 180px;
  }
  #signupmodal form .email {
    width: 380px;
  }
  #signupmodal .verifyEmailModal,
#signupmodal .error {
    width: 70%;
  }
  #signupmodal .loaderContainer .loadingGif {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .step-timeline .step-container {
    width: 100%;
    padding: 10px 25px 10px 80px;
  }
  .step-timeline::after {
    left: 31px;
  }
  .hero-content img {
    width: 100%;
  }
  .hero .container {
    padding: 0 10px;
  }
  #counter {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  #counter .numanddesc div span {
    font-size: 18px;
  }
  #counter .numanddesc div h3 {
    font-size: 24px;
  }
  #signupmodal form {
    padding: 3rem 1rem;
  }
  #signupmodal form .names {
    flex-direction: column;
    width: 100%;
  }
  #signupmodal form .names input {
    width: 100%;
  }
  #signupmodal form .email {
    width: 100%;
  }
  #signupmodal .verifyEmailModal,
#signupmodal .error {
    width: 90%;
  }
  #signupmodal .loadingGif {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */