#courses{
    h1{
        @include headingFonts;
        margin-bottom:20px;
    }

    .topInfo{
        text-align: center;

        p{
            @include centerParagraph;
        }
    }

    .courseCards{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        p, li{
            color: #616161;
        }

        li{
            font-size: 14px;

            i{
                color: #{$secondary};
            }
        }

        .course{
            margin: 2rem;
            box-shadow: 3px 3px 5px #eee;

            img{
                width: 100%;
                border-radius: 10px 10px 0 0;
            }

            .courseInfo{
                padding: 10px 10px;
    
                .courseFormat{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: 10px 0;
                    border-bottom: 1px solid #cacaca;
                    padding-bottom: 10px;

                    p{
                        font-size: 14px;
                        background-color: red;
                        padding: 2px 7px;
                        border-radius: 4px;
                        color: #fff;
                    }
                }

                .courseFooter{

                    div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                    }

                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}