#counter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('/images/images.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;

    .numanddesc{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        div{
            display: flex;
            align-items: center;
            gap: 5px;

            span{
                font-size: 22px;
            }

            h3{
                font-size: 30px;
            }
        }
    }
}