#features{
    h1{
        @include headingFonts
    }

    .featuresContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 5rem;
        gap: 2rem;
        width: 80%;
        margin: 0 auto;

        .feature{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            width: 80%;
    
            h3{
                font-size: 24px;
                color: #{$primary};
            }
    
            i{
                font-size: 1.8rem;
                color: #{$primary};
                padding: 8px;
                border-radius: 5px;
                color: #ffffff;
                background-color: #{$secondary};
            }
        }
    }
}
