.showModal {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

#signupmodal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, .7);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;

    .loaderContainer {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        background-color: rgb(0, 0, 0, .7);
        width: 100vw;
        height: 100vh;
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .loadingGif {
            width: 20%;
        }
    }

    .error {
        width: 30%;
        background-color: $white-color;
        color: rgb(26, 26, 26);
        padding: 10px 25px;
        margin-bottom: 10px;
        text-align: center;
        display: none;
        justify-content: space-between;
        align-items: center;
        // position: fixed;
        font-size: 1rem;

        i {
            font-size: 20px;
        }
    }

    .verifyEmailModal {
        width: 30%;
        background-color: $white-color;
        color: rgb(26, 26, 26);
        padding: 25px;
        text-align: center;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        gap: 20px;

        i {
            font-size: 32px;
            color: $secondary;
        }

        button {
            all: unset;
            background-color: $error;
            padding: 5px 10px;
            border-radius: 5px;
            color: $white-color;
            cursor: pointer;
        }
    }

    form {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        position: relative;

        .signInText span,
        .signUpText span {
            font-weight: bold;
            color: $secondary;
            cursor: pointer;
        }

        i {
            position: absolute;
            top: 3%;
            right: 2%;
            font-size: 22px;
            cursor: pointer;
        }

        i:hover {
            color: $error;
        }

        .names {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            input {
                border: 1px solid rgb(214, 214, 214);
                padding: 10px;
                border-radius: 5px;
                width: 220px;
                font-family: $poppins-font;
                outline: none;
            }
        }

        .email {
            border: 1px solid rgb(214, 214, 214);
            padding: 10px;
            width: 460px;
            border-radius: 5px;
            font-family: $poppins-font;
            outline: none;
        }

        .signup {
            font-family: $poppins-font;
            margin-top: 1.5rem;
            border-radius: 5px;
            border: none;
            padding: 5px 20px;
            font-size: 16px;
            color: $white-color;
            background-color: $secondary;
            cursor: pointer;
        }

        .pass {
            margin-top: 20px;
        }
    }

    .singInForm {
        display: none;
    }
}