.container{
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}

// Margin and padding classes
$spaceAmounts: (1,2,3,4,5);

@each $space in $spaceAmounts {
    .m-#{$space}{
        margin: #{$space}rem;
    }
    .mt-#{$space}{
        margin-top: #{$space}rem;
    }
    .mb-#{$space}{
        margin-bottom: #{$space}rem;
    }
    .my-#{$space}{
        margin: #{$space}rem 0;
    }
    .mx-#{$space}{
        margin:0 #{$space}rem;
    }

    .p-#{$space}{
        margin: #{$space}rem;
    }
    .py-#{$space}{
        margin: #{$space}rem 0;
    }
    .px-#{$space}{
        margin: 0 #{$space}rem;
    }
}